td{
    border: 2px solid black;
}
th{
    border: 2px solid black;
}
table{
    border: 2px solid #27445D;
}
body{
    background-color: #EFE9D5;
}
.image-container{
    text-align: center;
}
#train-img{
    object-fit: cover;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    border: 3px solid black;
}